/*___________________________________________________________________
    Global Layout Set-up
____________________________________________________________________*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.6;
  background-color: #FAFAFA;
}

h1, h2 {
  font-size: 1em;
  text-align: center;
  color: #515151;
}

h1 {
  font-weight: 800;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/*___________________________________________________________________
    Base Layout Styles
____________________________________________________________________*/

/* ----- Navigation ----- */

.name {
  font-size: 1.5em;
  margin: 0;
}

.main_nav {
  margin-top: 5px;
}

.name a,
.main_nav a {
  padding: 10px;
  text-align: center;
  display: block;
  color: #515151;
}

.main_nav a {
  font-size: .95em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}


/* ----- Layout Containers -----*/

.main_header {
  padding: .5em 0 .5em;
  margin: 0 auto;
}

.bio {
  padding: 0 1em;
}

.portfolio {
  padding: 5%;
  background-color: #fff;
}

.contact {
  text-align: center;
}

.main_footer {
  padding: 5%;
  display: block;
}


/*___________________________________________________________________
    Page Elements
____________________________________________________________________*/

/* ----- Bio Section -----*/

#bio_photo {
  display: block;
  border-radius: 100%;
  max-width: 150px;
  position: relative;
  top: 17.5px;
  left: 75px;
}

.bio_photo {
  max-width: 300px;
  height: 185px;
  background-color: #EDEDED;
  margin: 2rem auto;
}

.intro {
  font-size: 1.25em;
  color: rgb(126, 126, 126);
  text-align: center;
  margin: 0 0 3rem;
}

/* ----- Portfolio Section ----- */

.card {

}

/* ----- Contact Section ----- */

.contact a {
  color: #939393;
}

/* ----- Footer ----- */

.main_footer a {
  padding-top: 1rem;
  font-size: .75em;
  font-weight: 800;
  color: #515151;
  float: left;
}

#full_footer,
#mobile_footer {
  text-transform: uppercase;
  float: right;
}

/* ----- Float Clearfix ----- */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/*___________________________________________________________________
    Media Queries
____________________________________________________________________*/

/* ----- Mobile ----- */

@media screen and (min-width: 320px) and (max-width: 767px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .main_nav a {
    background-color: #fff;
  }

  #full_footer {
    display: none;
  }

}

/* ----- Tablet ----- */

@media screen and (min-width: 768px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .main_header {
    text-align: center;
  }

  .main_nav a {
    background-color: none;
  }

  .main_nav li,
  .main_footer li {
    display: inline-block;
    margin-left: 15px;
  }

  .bio {
    padding: 0 5%;
  }

  .intro {
    font-size: 1.125em;
    float: left;
    width: 55%;
    margin-top: 2rem;
    text-align: left;
  }

  .bio_photo {
    float: right;
    width: 45%;
  }

  #mobile_footer {
    display: none;
  }

}

/* ----- Laptop/Desktop ----- */

@media screen and (min-width: 1024px) {

  .container {
    max-width: 1150px;
    }

}

